<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
    <form action="/insert_userinfo" enctype = "multipart/form-data" method = "POST">
        <label for="username">username</label><br>
        <input type="text" id="username" name="username" value="John"><br>
        <label for="pwd">pwd</label><br>
        <input type="text" id="pwd" name="pwd" value="Doe"><br><br>
        <label for="firstname">firstname:</label><br>
        <input type="text" id="firstname" name="firstname" value="Doe"><br><br>
        <label for="lastname">lastname:</label><br>
        <input type="text" id="lastname" name="lastname" value="Doe"><br><br>
        <label for="email">email:</label><br>
        <input type="text" id="email" name="email" value="Doe@gmail.com"><br><br>
        <label for="phone">phone:</label><br>
        <input type="number" id="phone" name="phone" value="0999999999"><br><br>
        <label for="address">address:</label><br>
        <input type="text" id="address" name="address" value="Doe"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>

</html>