<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
    <form action="/verify" enctype = "multipart/form-data" method = "POST">
        <label for="username">username</label><br>
        <input type="text" id="username" name="username" value="admin"><br>
        <label for="pwd">pwd</label><br>
        <input type="text" id="pwd" name="pwd" value="12345678"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>

</html>